/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.nav-wrapper{
    padding-left:5%;
    padding-right:5%;
}
.container{
    padding-left:10px;
    padding-right:10px;
    margin-top:15px;
}

main {
    flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

/*Ajout le 18 avril*/
.inline {
	display: inline-block;
}

.space-5 {
	margin: 0 5px;
}

.border-success {
	border: 4px solid teal;
}
.border-warning {
	border: 4px solid grey;
}
.icon-invite {
	width: 60px;
	height: 60px;
}

.icon-contribution {
	width: 50px;
	height: 50px;
}
/*FIN Ajout le 18 avril*/